@use './colors' as *;
@use './mixins' as *;

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header, .footer-footer, .about-us__section, .news__section{
  @media (min-width: 1060px) {
    margin-right: 88px;
    margin-left: 88px;

  }
  @media (max-width: 1060px) {
    margin-right: 16px;
    margin-left: 16px;
  }
}

.header-navigation__list, .news__item p {
  @include font-styles(var(--font-secondary), 400, gray, 16px, 120%, 0%);
}

.header-contacts__telephone, .footer-contacts, .drawer-contacts, .news__date {
  @include font-styles(var(--font-primary), 400, $primary, 14px, 120%, 0%);
}

button {
  @include font-styles(var(--font-primary), 400, white, 14px, 100%, 0.15px);
  background-color: $secondary;
  @include btn-styles(49px, 204px);
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}

.footer {
  background-color: $primary;
}

.footer-menu, .drawer-navigation,  {
  @include font-styles(var(--font-secondary), 400, white, 16px, 120%, 0%);
}

p {
  @include font-styles(var(--font-secondary), 400, white, 14px, 121%, 0%);
}

#drawer-open-checkbox {
  @include btn-styles(46px, 56px);
}

.header-contacts__form {
  display: block;
  background-color: $secondary;
  @include btn-styles(46px, 56px);
}

.drawer__button {
  @include btn-styles(32px, 32px);
  background-color: $secondary;
}

figcaption h1 {
  margin: 0;
  @include font-styles(var(--font-primary), 700, white, 46px, 120%, 0%);
  @media (max-width: 768px) {
    font-size: 30px;
  }
}

#text {
  @include font-styles(var(--font-secondary), 400, white, 16px, 135%, 0%);
}

button:hover {
  cursor: pointer;
}

.about-us__text h2, .projects h2, .news__section h2 {
  @include font-styles(var(--font-primary), 700, black, 38px, 120%, 0%);
  @media (max-width: 768px) {
    font-size: 28px;
  }
}

#paragraph, .news-page__text {
  margin: 0;
  @include font-styles(var(--font-secondary), 400, gray, 20px, 135%, 0%);
}

#drawer-open-checkbox {
  opacity: 0;
  margin: 0;
}

.cards__elem {
  background-color: $white;
}

.cards__elem h3 {
  @include font-styles(var(--font-primary), 400, black, 24px, 120%, 0%);
  margin: 0;
  padding-bottom: 8px;
}

figure img {
  background-color: $primary;
}

.projects {
  background-color: $white;
}

.cards__elem #header, h4 {
  @include font-styles(var(--font-primary), 400, black, 20px, 120%, 0%);
}

.cards__elem p {
  @include font-styles(var(--font-secondary), 400, gray, 16px, 135%, 0%);
  margin: 0;
}

.button {
  border: 1px solid $secondary;
  @include font-styles(var(--font-primary), 600, $secondary, 14px, 100%, 0px);
}

a {
  text-decoration: none;
  color: inherit;
}

.news-page__text span {
  color: $secondary;
}

.active_nav {
  color: $secondary;
  pointer-events: none;
}

.buttons__num button:active {
  background-color: $primary;
  border: 1px solid $primary;
  color: white;
}

.buttons__num button {
  background-color: white;
  border: 1px solid #9D9C9C;
  @include font-styles(var(--font-primary), 600, $primary, 16px, 100%, 0.15px);
}

.buttons__num button:hover {
  background-color: lightgray;
  border: 1px solid $secondary;
  color: $secondary;
}

.disabled .arrow:first-child {
  background-color: #D7D7D7;
}

.DialogTitle {
  @include font-styles(var(--font-primary), 700, #2B2F34, 32px, 160%, 0%);
  @media (max-width: 769px) {
    font-size: 30px;
  }
}

input[placeholder] {
  @include font-styles(var(--font-primary), 600, black, 16px, 150%, 0.15px);
  padding: 16.5px;
}

::placeholder {
  @include font-styles(var(--font-primary), 400, #9D9C9C, 14px, 180%, 0px);
}